{% extends "layout.njk" %}


{% block body %}
    <the-upload desc="正面" @uploadsuccess="handleUploadSuccess($event, 'stepFour', 'front_img')" name="front"
                style="float:left;"></the-upload>
{% endblock %}


{% block scripts %}
    <script>
        var vm = new Vue({
            el: '.q-blog',
            data(){
                return {}
            },
            methods: {
                uploadPostImage(){

                },
                handleUploadSuccess: function (event, hint, name) {

                }
            }
        })
    </script>
{% endblock %}